
<div class="container">
{{!-- Image and Title --}}
    <div class="row headerSection">
        <div class="col-md-12">
            <img src="/assets/img/burger.png" alt="Burger">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 id="title">Eat-Da-Burger!</h1>
        </div>
    </div>
    
{{!-- Burger lists --}}
    <div class="row">
        <div class="col-md-6">
            <ul class="notEaten">
                {{#each data}}
                    {{#unless devoured}}
                        <li>{{burger_name}} -- <button class="devouredToggle btn btn-success" data-id="{{this.id}}">Devour it!</button><button class="deleteBtn btn btn-danger" data-id="{{this.id}}">X</button></li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-md-6">
            <ul class="eaten">
                {{#each data}}
                    {{#if devoured}}
                        <li>{{burger_name}} -- <button class="devouredToggle btn btn-success" data-id="{{this.id}}">Make another!</button><button class="deleteBtn btn btn-danger" data-id="{{this.id}}">X</button></li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

{{!-- Submit form --}}
    <div class="row formSection">
        <div class="col-md-12">
            <form action="/api/burgers" method="POST">

                <label for="name">Enter a burger name and submit!</label>
                <input type="text" name="name">

                <input type="submit" class="btn btn-light">

            </form>
        </div>
    </div>

</div>


